html {
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    min-width: 195px;
}


body{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    min-width: calc(100% - 20px);
    min-height: calc(100% - 20px);
    margin: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}


body * {
    transition: background-color 0.5s ease, border 0.5s ease;
}


#profile-pic-modal {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    z-index: 200;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-wrapper {

    width: 600px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 0;
    
}

#profile-wrapper #profile-pic-display{
    width: 50%;
    height: 300px;
    max-width: 50%;
    overflow: hidden; 
    border-radius: 15px;
}

#profile-pic-display .big-profile-pic {
    width: 100%; /* Make the image cover the div */
    height: 100%;
    object-fit: cover; /* Ensures the image fills and crops */
    object-position: center; /* Centers the image within the div */
    display: block; /* Removes any extra space below the image */ 
}

#profile-wrapper #profile-text {
    font-size: 2em;
    width: 50%;
    height: 300px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;

}

button:active {
opacity: 0.7;
}

#top-bar {
    width: calc(100% - 20px);
    height: 60px;
    min-height: 60px;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#main-content {
    width: 100%;
    height: calc(100% - 60px);
    min-height: calc(100% - 60px);
    max-height: calc(100% - 60px); /* Max width is 100% of parent container, subtracting the minimum size of the send container MINUS GAP*/

    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#contacts-window {
    /* ACCOUNT FOR GAP OF MAIN-CONTENT */
    width: calc(40% - 15px);
    min-width: calc(40% - 15px);
    max-width: calc(40% - 15px);
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

}

#chat-window {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    height: 100%;
    
    box-sizing: border-box;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0;
}


#chat-container {
    width: 100%;
    height: calc(100% - 50px - 8px);
    max-height: calc(100% - 50px - 8px); /* Max width is 100% of parent container, subtracting the minimum size of the send container MINUS GAP*/
    /* Subtract the gap to the send container */

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#send-container {
    width: 100%;
    height: 50px;
    min-height: 50px;
    box-sizing: border-box;
}




/* Mobile view with user info bar */
#user-info-bar {
    display: none;
}

.toggle-contacts {
    box-sizing: border-box;
    border: 2px solid gray;
    width: 40px;
    height: 40px;
    cursor: pointer;

}
.toggle-contacts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#chat-window-toggler {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#contacts-window-toggler {
    border-radius: 2px;
    border-top-left-radius: 15px;
    width: 60px;
    height: 100%;
}

#user-image {
    width: 40px;
    height: 40px;
}
#user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact-info {
    color: rgba(250,250,250,0.8);
}


/* RANDOM CHAT*/

#random-chat-button {
    padding: 5px0;
    text-align: center;
    text-decoration: none;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    font-size: 12px; 
    margin: 10px 0px; 
    margin-left: 4px;
    cursor: pointer;
    border-radius: 12px;

    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 0;
}


#random-chat-button img {
    width: 70%; /* Adjust image size relative to button */
    height: 70%; /* Adjust image size relative to button */
    object-fit: contain; /* Ensure the image scales properly */
}




/* TOP BAR CONTENT */

#top-bar button {
    border: none;
    cursor: pointer;
}

#current-user-profile {
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
}

#current-user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: none;
}

#logout-button {
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


#home-button-container {
    width: fit-content;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#home-button {
    width: 100px;
    height: 100%;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;

    
}

#home-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} 



#app-name-container {
    width: fit-content;
    max-width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;


}

#app-name-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#current-user-container {
    width: fit-content;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 10px;
}


#current-user-container button {
    width: 60px;
    min-width: 60px;
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 25px;
}

#current-user-container #logout-button {
    padding: 10px;
}
#current-user-container #current-user-profile {
    padding: 0px !important;
}

#current-user-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin: 0;
}


/* END TOP BAR */


/* CONTACTS STYLING */

    /* SEARCH BAR STYLING */

#search-user {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    position: relative; /* Relative positioning for dropdown alignment */
}

#search-bar {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    z-index: 20;
}

#search-bar input:focus {
    outline: none;
}

#user-search-input {
    width: 60%;
    height: 100%;
    border-radius: 2px;
    border-top-left-radius: 12px;
    box-sizing: border-box;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.1em;
}

#search-button {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border-radius: 2px;
    border-top-right-radius: 12px;

    padding: 0;/*15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    font-size: 12px; /* Increase font size */
    margin: 10px 0px; /* Some margin */
    margin-left: 4px;
    cursor: pointer; /* Pointer/hand icon */
}

#search-button img {
    width: 70%; /* Adjust image size relative to button */
    height: 70%; /* Adjust image size relative to button */
    object-fit: contain; /* Ensure the image scales properly */
}


#drop-down-users {
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease;

    position: absolute;
    top: calc(100% + 2px);

    left: 0px;
    width: calc(100% - 0px);
    box-sizing: border-box;
    height: auto;
    overflow-y: auto;
    z-index: 10; 

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

#drop-down-users::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}

#user-list {
    height: auto;
    margin: 0;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 0;
    list-style-type: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



#no-users {
    padding: 10px;
    font-size: 1.1em;
}
.search-bar-user {
    border-radius: 16px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    height: 70px;
    border: 0;
    box-sizing: border-box;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    cursor: pointer;
}

.search-bar-user img {
    height: 70%;
    width: auto;
}

    /* END SEARCH BAR STYLING */


    /* CONTACTS STYLING */
    
#contacts {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    position: relative;
    z-index: 5;
    overflow: auto; /* Enables scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

#contacts::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}


.contact-container {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    user-select: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}



.contact-container * {
    cursor: pointer;
}

.last-message {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 16px;
    width: 30%;
    height: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}




.contact-profile-button {
    width: 80px; /* Set a fixed size to make it square */
    height: 80px; /* Match the height to the width */
    padding: 0; /* Remove padding for consistent sizing */
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px; */
    border-radius: 50%;
    flex-shrink: 0;
}



.contact-profile-button img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zooms the image to fill the button */
}




.choose-contact-button {
    width: 50%;
    min-width: 120px;
    height: 100%;
    border: none;
    cursor: -webkit-grab;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  user-select: none;
  font-size: medium;
  font-size: 1.5em;

}

    /* END CONTACTS STYLING */


/* END CONTACTS STYLING */


/* CHAT STYLING */


    /* SEND CONTAINER STYLING */


#chat-form {
    width: 100%;
    height: 100%;
    min-height: 50px;
    max-width: 100%;
    max-height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;

    gap: 8px;

}

#message-input {
    flex-grow: 1;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    /*border-top-left-radius: 5px;
    border-bottom-left-radius: 15px;     */
    font-size: 1.15em;
    border: 0;
    padding-left: 10px;
}

#send-button {
    width: 130px;
    max-width: 26%;
    padding: 10px;

}

#file-button {
    width: 70px;
    max-width: 15%;
    padding: 0px;
}

#call-btn {
    width: 70px;
    max-width: 15%;
    padding: 12px;
}

#send-button, #file-button, #call-btn {
    
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}





#send-button img,
#file-button img,
#call-btn img {
    width: 80%; /* Adjust image size relative to button */
    height: 80%; /* Adjust image size relative to button */
    object-fit: contain; /* Ensure the image scales properly */
}

    /* END SEND CONTAINER STYLING */


/* CALL STYLES */

#call-container {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.8); 
    z-index: 1000;
}


#end-call-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#end-call-btn img {
    width: 80%; /* Adjust image size relative to button */
    height: 80%; /* Adjust image size relative to button */
    object-fit: contain; /* Ensure the image scales properly */
}


/* END CALL STYLES */

    /* CHAT HISTORY STYLING */
    
#messages {
    list-style-type: none;
    height: 100%;
    border-radius: 15px;
    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;    
    border-bottom-left-radius: 5px; */

    width: 100%;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    box-sizing: border-box;
    transition: border 0.2s ease;
    padding: 10px;
}

#messages {
    scrollbar-width: none;
} 
 
#messages::-webkit-scrollbar {
    display: none; 
}


.message-container {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
    user-select: none;

}
 
.message-container:first-child {
    margin-top:0;
}

/* Received messages on the left */
.message-container.left {
    justify-content: flex-start; /* Ensure left items are left-aligned */
}

/* Sent messages on the right */
.message-container.right {
    justify-content: flex-end;   /* Right-align items */
}

.message {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 0;
    margin-right: 0;
    border-radius: 15px;
    transition: background-color 5s ease, margin-right 5s ease;
    overflow-wrap: break-word;
    max-width: 70%;
    box-sizing: border-box;
    user-select: none;
}

.pending-message {
    justify-self: flex-end;
}



.sent-message {
    justify-self: flex-end;
    margin-right: 0;
}

.received-message {
    justify-self: flex-start;  
}

.new-message {
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease;
  }

.new-message.expanded {
    opacity: 1;
}





    /* END CHAT HISTORY STYLING */

/* END CHAT STYLING*/



@media (max-width: 900px) {
    .last-message {
        visibility: hidden;
    }
}

@media (max-width: 600px) {
        #contacts-window {
        display: flex;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    #chat-window {
        display: flex;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    #user-info-bar {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 60px;
        gap: 10px;
        padding: 5px;
    }

    .hidden-mobile-window {
        display: none !important;
    }

    #user-image {
        border-radius: 50%;
        border: 2px solid gray;
        overflow: hidden;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    #profile-wrapper {
        width: 90%;
        height: 300px;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0; 
    }

    #app-name-container {
        position: absolute;
        top: -0px;
        left: -0px;
        visibility: hidden;
    }
  }


/* @media (max-width: 350px) {

    #home-button-container {
        width: 30%;
        max-width: 30%;
        min-width: 30%;
    }
    #current-user-container {
            width: 70%;
            max-width: 70%;
            min-width: 70%;
    }
} */


@media (max-width: 260px) {
    #home-button-container {
        display: none;

    }
    #current-user-container {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
    }
}