#home-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

#home-button {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-button img {
width: 70%;
height: 70%;
}

#app-name-container {
  width: 243px;
  height: 50px;
  padding: 0;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-name-container img {
width: 70%;
height: 70%;
cursor: pointer;
}



#current-user-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  padding: 10px;
  box-sizing: border-box;
}

#current-user-info-elements {
  list-style-type: none;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  box-sizing: border-box;
}

#current-user-info-elements li {
  margin-left: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-user-profile {
  width: 50px;
  height: 50px;
  padding: 0;
  background: #ffffff;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-user-profile img {
width: 70%;
height: 70%;
}

#logout-button {
  width: 30px;
  height: 30px;
  padding: 0;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logout-button img {
width: 70%;
height: 70%;
}