html {
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    font-family: Arial, sans-serif;

    background-color: #08030d;
}




body{
    /* border: 2px solid red; */


    width: calc(100% - 20px);
    height: calc(100% - 20px);
    min-width: calc(100% - 20px);
    min-height: calc(100% - 20px);
    margin: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;


}




body * {
    transition: background-color 0.5s ease, border 0.5s ease;
}




#profile-pic-modal {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: none;
    background-color: rgba(50,50,50,0.8);
    z-index: 200;
    position: absolute;
}

#profile-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 0;
    
}

#profile-wrapper #profile-pic-display{
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%; */
    width: 50%;
    height: 300px;
    max-width: 50%;
    background-color: aquamarine;
    overflow: hidden; /* Ensures anything outside the div is cropped */
    /* position: relative; */
    border-radius: 20px;
    box-shadow: 3px 3px 4px rgba(20,20,20,0.5);

}

#profile-pic-display .big-profile-pic {
    width: 100%; /* Make the image cover the div */
    height: 100%;
    object-fit: cover; /* Ensures the image fills and crops */
    object-position: center; /* Centers the image within the div */
    display: block; /* Removes any extra space below the image */ 
}

#profile-wrapper #profile-text {
    font-size: 2em;
    color: rgba(255,255,255,0.8);
    text-shadow: 3px 3px 4px rgba(20,20,20,0.5);
    width: 50%;
    height: 300px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;

}

button:active {
opacity: 0.7;
}
#top-bar {
    /* border: 2px solid green; */

    width: calc(100% - 20px);
    height: 70px;
    min-height: 70px;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* padding-left: 10px;
    padding-right: 10px; */

}

#main-content {
    /* border: 2px solid blue; */

    width: 100%;
    /* height: 90%; */
    height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    max-height: calc(100% - 70px); /* Max width is 100% of parent container, subtracting the minimum size of the send container MINUS GAP*/

    flex-grow: 1;
    box-sizing: border-box;

    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 10px;

    gap: 15px;
}

#contacts-window {
    /* border: 2px solid orange; */

    /* ACCOUNT FOR GAP OF MAIN-CONTENT */
    width: calc(40% - 15px);
    min-width: calc(40% - 15px);
    max-width: calc(40% - 15px);
    height: 100%;
    box-sizing: border-box;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* padding: 10px; */
    padding: 0;

}

#chat-window {
    /* border: 2px solid purple; */

    width: 60%;
    min-width: 60%;
    max-width: 60%;
    height: 100%;
    
    box-sizing: border-box;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    /* padding: 10px; */
    padding: 0;
}


#chat-container {
    /* border: 2px solid pink; */

    width: 100%;

    height: calc(100% - 70px - 15px);
    max-height: calc(100% - 70px - 15px); /* Max width is 100% of parent container, subtracting the minimum size of the send container MINUS GAP*/

    /* Subtract the gap to the send container */

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#send-container {
    /* border: 2px solid darkkhaki; */
    width: 100%;
    height: 70px;
    min-height: 70px;
    box-sizing: border-box;
}





/* RANDOM CHAT*/

#random-chat-button {
    /* background-color: #4CAF50;  Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 0;/*15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: flex; 
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    font-size: 12px; /* Increase font size */
    margin: 10px 0px; /* Some margin */
    margin-left: 4px;
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */

    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 0;

    background-color: #211443;

}


#random-chat-button img {
    width: 70%; /* Adjust image size relative to button */
    height: 70%; /* Adjust image size relative to button */
    object-fit: contain; /* Ensure the image scales properly */
}


#random-chat-button:hover {
    /* background-color: #45a049; /* Darker green on hover */
    background-color: #322650;
}




/* TOP BAR CONTENT */


#top-bar button {
    border: none;
    cursor: pointer;
}

#current-user-profile {
    /* background-color: transparent; */
    border: 2px solid rgb(106, 81, 145) !important;
    border-radius: 10px;
}

#current-user-profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#logout-button {
    /* background-color: rgb(32, 22, 57); */
    border-radius: 10px;
    border: 2px solid rgb(106, 81, 145) !important;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logout-button img {
    /* filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.79)); */
}

#home-button-container {
    width: fit-content;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: flex-start;
}

#home-button {
    /* border: 2px solid red; */

    width: 100px;
    /* max-width: 30%; */
    height: 100%;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    cursor: pointer;

}

#home-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(70%) contrast(120%) saturate(80%);
} 





#app-name-container {
    /* border: 2px solid green; */

    width: 300px;
    /* max-width: 70%; */
    height: 100%;
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;

}

#app-name-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(70%) contrast(120%) saturate(80%);

}


#current-user-container {
    /* border: 2px solid green; */

    width: fit-content;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 10px;
    z-index: 1;
}


#current-user-container button {
    /* border: 2px solid purple; */

    width: 70px;
    min-width: 70px;
    height: 100%;
    box-sizing: border-box;

    flex-shrink: 0;

    border-radius: 25px;
    background-color: rgb(22, 11, 32);
}

#current-user-container #logout-button {
    padding: 2px;
}
#current-user-container #current-user-profile {
    padding: 2px;
}

#current-user-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin: 0;
}
#current-user-profile img {
    filter: brightness(80%) contrast(110%) saturate(90%);
}


/* END TOP BAR */



/* CONTACTS STYLING */


    /* SEARCH BAR STYLING */

#search-user {
    /* border: 2px solid purple; */

    width: 100%;
    height: 50px;
    box-sizing: border-box;



    position: relative; /* Relative positioning for dropdown alignment */
}

#search-bar {
    /* border: 2px solid black; */
    background-color: rgb(68, 34, 110);


    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    z-index: 20;
}

#search-bar input:focus {
    outline: none;
}

#user-search-input {
    width: 60%;
    height: 100%;
    border-radius: 2px;
    border-top-left-radius: 16px;
    box-sizing: border-box;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #241e34;
    color: rgba(255,255,255,0.8);
    font-size: 1.1em;


}

#search-button {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border-radius: 2px;
    border-top-right-radius: 16px;
    border: 0;

    color: white; /* White text */
    padding: 0;/*15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    font-size: 12px; /* Increase font size */
    margin: 10px 0px; /* Some margin */
    margin-left: 4px;
    cursor: pointer; /* Pointer/hand icon */
    background-color: #211443;

}

#search-button img {
    width: 70%; /* Adjust image size relative to button */
    height: 70%; /* Adjust image size relative to button */
    object-fit: contain; /* Ensure the image scales properly */
}


#search-button:hover {
/* background-color: #45a049; /* Darker green on hover */
background-color: #332755;
}


#drop-down-users {
    display: none;
    opacity: 0;
    transition: opacity 0.25s ease;
    background-color: rgba(26, 10, 37, 0.791);


    position: absolute;
    top: calc(100% + 2px);
    /* left: 5px; */
    /* width: calc(100% - 10px); */

    left: 0px;
    width: calc(100% - 0px);
    box-sizing: border-box;
    height: auto;
    overflow-y: auto;
    z-index: 10; 

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#user-list {
    height: auto;
    margin: 0;
    padding: 5px;
    padding-top: 5px;

    padding-bottom: 0;
    list-style-type: none;
    border: 2px solid rgb(138, 113, 179);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



#no-users {
    color: rgba(255,255,255,0.8);
    padding: 10px;
    font-size: 1.1em;
}
.search-bar-user {
    border-radius: 16px;
    background-color: rgba(66, 36, 112, 0.594);
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    height: 70px;
    border: 0;
    color: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 4px rgba(205, 205, 205, 0.791);
    box-sizing: border-box;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    cursor: pointer;
}

.search-bar-user img {
    height: 70%;
    width: auto;
}

    /* END SEARCH BAR STYLING */


    /* CONTACTS STYLING */
    
#contacts {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #161124;
    /* border: 2px solid black; */
    list-style-type: none;
    box-sizing: border-box;

    margin: 0;
    padding: 10px;

    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    position: relative;

    z-index: 5;
}

.contact-container {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    user-select: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border: 2px solid rgb(76, 56, 97); 
}

.contact-container:hover {
    border: 2px solid rgb(123, 115, 160);
}

.contact-container * {
    cursor: pointer;
}

.last-message {
    /* border: 2px solid gray; */
    background-color: #2b2343;
    border: 2px solid transparent;
    /* rgb(133, 115, 151); */
    color: rgba(255,255,255,0.8);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 16px;
    width: 30%;
    /* max-width: 80px;     */
    
    height: 80px;
    /* overflow: hidden; */

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}




.contact-profile-button {
    width: 80px; /* Set a fixed size to make it square */
    height: 80px; /* Match the height to the width */
    padding: 0; /* Remove padding for consistent sizing */
    background-color: transparent;
    border: 2px solid transparent;
     /* darkgray; */
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px; /* Optional: Rounded corners */
    flex-shrink: 0;
}

.contact-profile-button:hover {
    border: 2px solid rgb(123, 115, 160)
}

.contact-profile-button img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zooms the image to fill the button */
    filter: brightness(70%) contrast(120%) saturate(80%);
}




.choose-contact-button {
    width: 50%;
    min-width: 120px;
    height: 100%;
    /* padding: 10px; */
    background-color: transparent;
    border: none;
    cursor: -webkit-grab;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.8);
    /* text-wrap: nowrap; */
    /* border: 2px solid red; */
}

.contact {
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
  border: none;
  /* overflow-wrap: break-word; */
  box-sizing: border-box;
  user-select: none;
  font-size: medium;
  font-size: 1.5em;

}

.selected-chat-user {
    background-color: #352858;
    border: 2px solid rgb(123, 115, 160);
    box-shadow: 0px 0px 4px rgb(106, 103, 103);
}

    /* END CONTACTS STYLING */


/* END CONTACTS STYLING */


/* CHAT STYLING */


    /* SEND CONTAINER STYLING */


#chat-form {
    width: 100%;
    height: 100%;
    min-height: 70px;
    max-width: 100%;
    max-height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;

    gap: 15px;

}

#message-input {
    flex-grow: 1;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 1.15em;
    border: 0;
    padding-left: 10px;
    /* background-color: #cccccc; */
    background-color: #161124;
    color: rgba(255,255,255,0.8);

}

#message-input:focus {
    outline: none; 
    background-color: #2d234a;
    border: 2px solid rgb(76, 48, 126);
}

#send-button {
    width: 150px;
    max-width: 50%;

    height: 100%;
    box-sizing: border-box;

    /* border: none; */
    /* background-color: rgba(61, 216, 227)#ededed; */
    border: 2px solid transparent;
    background-color: #161124;
    color: rgba(255,255,255,0.8);
    border-radius: 20px;

    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

#send-button img {
    width: 70%; /* Adjust image size relative to button */
    height: 70%; /* Adjust image size relative to button */
    object-fit: contain; /* Ensure the image scales properly */
}

    /* END SEND CONTAINER STYLING */


    /* CHAT HISTORY STYLING */

    
#messages {
    list-style-type: none;
    height: 100%;

    border: 2px solid transparent; /*black; */
    border-radius: 20px;
    background-color: #161124;
    width: 100%;
    margin: 0;

    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    box-sizing: border-box;
    transition: border 0.2s ease;

    padding: 10px;
}

#messages {
    scrollbar-width: none;
} 
 
#messages::-webkit-scrollbar {
    display: none; 
}


.message-container {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
    user-select: none;

}
 
.message-container:first-child {
    margin-top:0;
}

/* Received messages on the left */
.message-container.left {
    justify-content: flex-start; /* Ensure left items are left-aligned */
}

/* Sent messages on the right */
.message-container.right {
    justify-content: flex-end;   /* Right-align items */
}

.message {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 0;
    margin-right: 0;
    border-radius: 15px;
    border: none;
    transition: background-color 5s ease, margin-right 5s ease;
    overflow-wrap: break-word;
    /* max-width: 50%; */
    max-width: 70%;
    box-sizing: border-box;
    user-select: none;
    color: rgba(255, 255, 255, 0.764);
    /* cursor: grab; */
}

.pending-message {
    justify-self: flex-end;
    background-color: lightgray;
    /* margin-right: 10px; */
}



.sent-message {
    justify-self: flex-end;
    /* background-color: lightseagreen; */
    background-color: rgba(63, 46, 94, 0.783);
    margin-right: 0;
}

.received-message {
    justify-self: flex-start;
    background-color: rgba(97, 70, 121, 0.742); 
    
}

.new-message {
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease;
  }

.new-message.expanded {
    opacity: 1;
}


    /* END CHAT HISTORY STYLING */

/* END CHAT STYLING*/

