.password-container {
    display: flex;
    align-items: center;
    margin: 0;
}

.password-container input {
    flex-grow: 1;
    width: 94%; /* Ensure the input field takes 94% of the width */
}

.toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0 10px;
    height: auto; /* Ensure the button height matches the input field */
    display: flex;
    align-items: center;
    width: 6%; /* Ensure the button takes 6% of the width */
}

.toggle-password:hover {
    filter: drop-shadow(0px 0px 4px white);
}