#search-user {
    position: relative; /* Relative positioning for dropdown alignment */
    width: 100%;
    background-color: transparent;
}

#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: lightseagreen;
    height: auto;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    box-sizing: border-box;
}

  
#search-bar * {
    height: 40px;
    box-sizing: border-box;
    border: none;
}
  
#search-bar input {
    width: 65%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search-bar button {
    width: 35%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgray;

}

#drop-down-users {
    position: absolute; /* Fixed to the dimensions of #search-user */
    top: 100%; /* Position directly below #search-bar */
    left: 0;
    width: 100%; /* Matches the width of the parent */
    background: white;
    /* border: 1px solid #ccc; */
    max-height: 200px; /* Set a max height with scrolling */
    overflow-y: auto; /* Allow scrolling when overflow occurs */
    z-index: 100; /* Ensure it's above other content */
}

#drop-down-users ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}