/* General Styles */
body {
    background-color: #08030d;
}




.settings-container {
    background-color: #161124;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Back Button */
.back-btn {
    background-color: transparent;
    color: #555;
    border: none;
}

.back-btn:hover {
    color: #412e62;
}



.profile-section img {
    border: 3px solid rgba(21, 17, 36, 0.87);
}

.upload-btn {
    background-color: rgba(77, 63, 127, 0.87);
    color: white;
    border: none;
}

.upload-btn:hover {
    background-color: rgba(59, 48, 98, 0.87);
}

/* Form Section */
.settings-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-form label {
    color: #b5acbf;
}

.settings-form input {
    border: 2px solid #352051;
    background-color: #170925;
    color: rgba(255,255,255,0.8);
}

.settings-form input:focus {
    border: 2px solid rgb(135, 94, 175);
    outline: none;
}



.settings-form #username {
    color: rgb(83, 89, 168);
    font-weight: bold;
}

.save-btn {
    background-color: rgba(77, 63, 127, 0.87);
    color: white;
    border: none;
}

.save-btn:hover {
    background-color: rgba(56, 46, 92, 0.87);
}



#profile-pic-modal {
    border: none;
    background-color: rgba(19, 8, 40, 0.8);
}



#profile-wrapper #profile-pic-display{

    background-color: rgb(52, 30, 94);
    box-shadow: 3px 3px 4px rgba(208, 186, 244, 0.5);

}



#profile-wrapper #profile-text {
    color: white;
    text-shadow: 3px 3px 4px rgba(20,20,20,0.5);
}









/* Responsive Design */
@media (max-width: 600px) {
    .settings-container {
        padding: 15px;
        max-width: 90%;
    }

    .profile-section img {
        width: 100px;
        height: 100px;
    }

    .upload-btn, .save-btn {
        font-size: 14px;
    }
}





