body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    padding: 20px;
    border-radius: 8px;

    width: 80%;
    max-width: 500px;

    display: flex;
    justify-content: center;
    position: relative;

    opacity: 0;
    transition: opacity 1s ease;
}

h2 {
    text-align: center;
}
 
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}


button,
input {
    box-sizing: border-box;
}

button {
    font-size: 0.9em;
}



input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}


#error-message {
    margin-top: 10px;
    color: red;
    font-size: 0.9em;
    text-align: center;
}


.form-container {
    width: 100%; 
}
#requirements-container {
    display: none;
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    right: -330px; 
}


.requirements-container h3 {
    margin-top: 0;
    text-align: center;
    font-size: 1.2em;
}
.requirements {
    list-style-type: none;
    padding: 0;
    font-size: 0.95em;
}
.requirements li {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
}
.backtologin-button {
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}




/* Profile Section */
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.upload-btn {
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}